<!DOCTYPE html>
<html>
    <head>
        <title>Study Analyzer</title>
    </head>

    <body>

        <h2>Enter Your Daily Data</h2>

        <form action = "/result" method = "post">
            Study Hours: <input type = "number" name = "study"><br><br>

            Sleep Hours: <input type = "number" name = "sleep"><br><br>

            Focus (0-10): <input type = "number" name = "focus"><br><br>

            Stress(0-10): <input type = "number" name = "stress"><br><br>

            <button type = "submit">Analyzer</button>
        </form>
        
    </body>
</html>