<!DOCTYPE html>
<html>

    <head>
        <title>Study Analyzer</title>
    </head>

    <body>

        <form action = "/result" method = "post">
            <h1>Scenario Context</h1>

            <label>Student Type: </label>
            <select name = "student_type">
                <option value = "default">Default</option>

                <option value = "foundation">Foundation</option>

                <option value = "diploma">Diploma</option>

                <option value = "degree">Degree</option>
            </select>

            <h2>Enter Your Daily Data</h2>
            Study Hours: <input type = "number" name = "study"><br><br>

            Sleep Hours: <input type = "number" name = "sleep"><br><br>

            Focus (0-10): <input type = "number" name = "focus"><br><br>

            Stress(0-10): <input type = "number" name = "stress"><br><br>

            <button type = "submit">Analyzer</button>
        </form>
        
    </body>
</html>
